*{
  box-sizing: border-box;
}
body{
  background-color:white;
}
/* FORMULARIO */

img.avatar {
  width: 15%;
  border-radius: 30%;
 background-color: #5cbbd7;
}

span.contenedorAvatar{
  display: block;
  text-align: center;
  margin: 50px;

}
div.contenedorUserYPass{
  padding: 16px;
  margin: 0 25%;
}

div.contenedorUserYPass input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
}

button.botonLogin{
  background-color:#5f83cf;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

label.recordarme input{
 position: absolute;
 left: 50px;
 padding-top: 16px;
}
div.olvidoPass{
  position: relative;
  margin: 0px 25%;
}
/* FIN DEL FORMULARIO */

/* HEADER */
button.btn{
  background-color:#5f83cf;
  color:white;
  border:1px solid #4e6096;
  cursor: pointer;
}
button.btn:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color:#476e9e;
  border:1px solid #093cd8;
}
/* FIN DEL HEADER */

/* FOOTER */

/* FIN DEL FOOTER */

/* REGISTRO */

/* FIN REGIISTRO */

/* PREGUNTAS FRECUENTES */
div.container{
  margin: 50px auto;

}
div.faqHeader{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  line-height: 90px;
}